In [1]:
#!pip install pandas==2.0.0
import pandas as pd
import numpy as np
pd.__version__

'1.4.4'

# Import data frames

In [2]:
df1=pd.read_csv("games.csv")

In [3]:
df2=pd.read_csv("games2.csv")

In [4]:
df3=pd.read_csv("games3.csv")

In [5]:
df1.head()

      games
0  16074318
1  16074082
2  16074142
3  16074156
4  16074360

## Check lenght dataframes

In [6]:
len(df1)+len(df2)+len(df3)

227278

## Concat dataframes and set index

In [7]:
# Concatenate multiple DataFrames (df1, df2, df3, df4, df5, df6, df7) along the vertical axis (axis=0) into 'klix_df'
chess_df=pd.concat([df1,df2,df3], axis=0)

In [30]:
# Check the length of the DataFrame
len(chess_df)

227152

In [11]:
# Displaying the first few rows of the DataFrame
chess_df.head()

      games
0  16074318
1  16074082
2  16074142
3  16074156
4  16074360

In [32]:
# Set the index of 'klix_df' to a new range of integers starting from 0 to match the updated DataFrame length
chess_df.index=np.arange(0,len(chess_df))

In [33]:
chess_df.tail()

           games
227147  13965281
227148  13967093
227149  13967323
227150  13965263
227151  13966995

## Check for garbage in the DataFrame

In [28]:
# Find and display duplicate rows in the DataFrame
chess_df[chess_df.duplicated()][]

SyntaxError: invalid syntax (2427362858.py, line 2)

In [29]:
# Filter rows in DataFrame where the "text" column is equal to "Greska"
chess_df[chess_df["games"]=="r"]

Empty DataFrame
Columns: [games]
Index: []

In [17]:
# Check for NaN values in the 'title' column
isna=chess_df['games'].isna()

In [19]:
# Display rows with NaN values in the 'title' column
chess_df[isna]

Empty DataFrame
Columns: [games]
Index: []

## Data Cleaning and Preprocessing

In [26]:
# Remove duplicate rows while keeping the first occurrence
chess_df=chess_df.drop_duplicates(keep=False)

In [20]:
# Drop rows with NaN values in the 'title' column
klix_df=klix_df.drop(klix_df[isna].index)

C:\Users\salih\AppData\Local\Temp\ipykernel_11252\2467278091.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  klix_df=klix_df.drop(klix_df[isna].index)

In [21]:
# Drop rows where the 'text' column has the value 'Greska'
klix_df=klix_df.drop(klix_df[klix_df["text"]=="Greska"].index)

In [2]:
# Check the lenght of the DataFrame
len(klix_df)

NameError: name 'klix_df' is not defined

In [10]:
df=pd.read_csv("chess_games_df.csv")

In [11]:
len(df),df.head()

(227152,
       games
 0  16074318
 1  16074082
 2  16074142
 3  16074156
 4  16074360)

In [13]:
dfshuf = df.sample(frac=1).reset_index(drop=True)

In [15]:
len(df),dfshuf.head()

(227152,
       games
 0   4372813
 1   1332177
 2  16084118
 3   1068129
 4  16371699)

In [16]:
chess_df=dfshuf

## Save dataframe

In [17]:
chess_df.to_csv('chess_games_df.csv',index=False)